.list {
  height: calc(100vh - 210px);
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 10px;
  padding-top: 25px;
  width: 100%;
  max-width: 900px;
  background: rgba(52, 48, 48, 0.9);
  border-radius: 10px 10px 0 0;
  padding-inline-start: 25px;
  padding-inline-end: 25px;
  row-gap: 20px;
  font-family: "Montserrat", serif;

  padding-bottom: 16px;
  /* margin-bottom: 16px; */

  display: grid;
  grid-gap: 8px;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 1170px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 970px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 772px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 630px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 430px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.list::-webkit-scrollbar {
  border-radius: 5px;
  width: 8px;
}

.list::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #ffffffe5;
}

.list::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #b2ffbc;
}
