.list {
    height: calc(100vh - 210px);
    display: inline-flex;
    overflow: scroll;
    overflow-x: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    padding-top: 25px;
    width: 900px;
    background: rgba(52, 48, 48, 0.9);
    border-radius: 10px 10px 0 0;
    padding-inline-start: 25px;
    padding-inline-end: 25px;
    row-gap: 20px;
    font-family: 'Montserrat', serif;
}

.list::-webkit-scrollbar {
    border-radius: 5px;
    width: 8px;
}

.list::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #FFFFFFE5;
}

.list::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #b2ffbc;
}
