.main {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.headerText {
    font-size: 30px;
    display: flex;
    font-family: 'Dela Gothic One', serif;
    line-height: 44px;
}

.subText {
    font-size: 20px;
    display: flex;
    line-height: 44px;
}


