.image {
    width: 160px;
    height: 181px;
    border-radius: 6px;
}
.listItem {
    display: flex;
    flex-direction: column;
    width: 160px;
    position: relative;
}

.listItem:hover  {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

}
.text {
    overflow-wrap: break-word;
}
.gold {
    top: 150px;
    right: 10px;
    position: absolute;
    width: 20px;
    height: 20px;
}

.gold:hover {

}

.shadow {

}
