@media screen and (min-width : 1200px) {
    .list {
        height: calc(100vh - 313px);
        display:  inline-flex;
        overflow: scroll;
        overflow-x: hidden;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 25px;
        width: 846px;
        background: #FFFFFFE5;
        border-radius: 10px 10px 0 0;
        padding-inline-end: 25px;
        row-gap: 20px;
        column-gap: 26px;
        margin-block-end: 0;
        font-family: 'Montserrat', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
    }

    .list::-webkit-scrollbar {
        border-radius: 5px;
        width: 8px;
    }
    .list::-webkit-scrollbar-track {
        border-radius: 5px;
        background: #FFFFFFE5;
    }

    .list::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #b2ffbc;
    }

    .subHeader {
        display: flex;
        justify-content: space-between;
        font-family: 'Montserrat', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        align-items: center;
    }

    .headerText {
        text-align: left;
        font-size: 30px;
        font-family: 'Dela Gothic One', serif;
        line-height: 44px;
    }
    .sort {
        display: flex;
        gap: 20px;
        align-items: center;
    }
    .sortInput {
        width: 225px;
        text-align: left;
    }
}

@media screen and (max-width : 1200px) {
    .list {
        justify-content: center;
        height: calc(100vh - 230px);
        display:  inline-flex;
        overflow: scroll;
        overflow-x: hidden;
        flex-wrap: wrap;
        row-gap: 9px;
        /* column-gap: 18px; */
        margin-block-end: 0;
        font-family: 'Montserrat', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        padding: 0 10px;
        line-height: 120%;
    }

    .list::-webkit-scrollbar {
        border-radius: 5px;
        width: 8px;
    }
    .list::-webkit-scrollbar-track {
        border-radius: 5px;
        background: #FFFFFFE5;
    }

    .list::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #b2ffbc;
    }

    .subHeader {
        display: flex;
        justify-content: space-between;
        font-family: 'Montserrat', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        align-items: baseline;
        margin-left: 20px;
    }

    .headerText {
        margin-top: 32px;
        text-align: center;
        font-size: 30px;
        font-family: 'Dela Gothic One', serif;
        line-height: 44px;
    }
    .sort {
        display: flex;
        gap: 20px;
        align-items: center;
    }
    .sortInput {
        width: 200px;
        text-align: left;
    }
}


@media (max-width: 576px) {
    .list {
        height: calc(100vh - 262px);
    }
    .subHeader {
        flex-direction: column;
        gap: 10px;
    }
    .sort {
        width: 94%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media (max-width: 340px) {
    .list {
        height: calc(100vh - 304px);
        padding-left: 20px;
    }
    .subHeader {
        margin-left: 20px;
    }

}
