.App {
  text-align: center;
  background: rgba(0, 108, 59, 0.1);
}

@font-face {
  font-family: "Dela Gothic One";
  src: local("Dela Gothic One"),
  url("./../../fonts/DelaGothicOne-Regular.ttf") format("truetype");


}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
  url("./../../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}
