.search {
    width: 262px;
}

.price {
    width: 115px;
}
.filter {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 138px;
}
.filterContent {
    text-align: left;
    gap: 15px;
    display: flex;
    flex-direction: column;
    width: 288px;
    height: 128px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    justify-content: center;
    padding-inline-start: 13px;
}
.submitFilter {
    border-color: #00A65A;
    color: #00A65A;
}
