.header {
    width: -webkit-fill-available;
    height: 100px;
    background: #333333;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.vkLogo {
    margin-top: 5px;
    width: 41px;
    height: 25px;
}

.logo {
    width:280px;
    height: 100px;
}
.howOrder {
    font-family: 'Montserrat', serif;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    background: linear-gradient(109.4deg, #00A65A -13.25%, #00A65A 26.87%, #55CA88 65.61%, #55C987 65.62%, #107C10 152.04%);
    border-radius: 5px;
    border: 0;
    width: 188px;
}
.info {
    display: flex;
    gap: 50px;
    margin-top: 30px;
}
