.logo {
  width: 48px;
  height: 48px;
  border-radius: 30px;
}

.wwrappHeader{
  width: 100%;
  background-color: #000401;
}  

.wrappHeader {
  max-width: 1202px;
  width: 100%;
  margin: auto;
  & :global(header) {
    max-width: 1202px;
    padding: 0 !important;
  }

  @media (max-width: 1220px) { 
    padding-inline: 12px;

   }
}
